.movies {
    padding: 2vw 5.6vw;
    text-align: center;

    &__content {
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;
            margin-bottom: 80px;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                max-width: 100vw;
            }

            &__item {
                img {
                    max-width: 100%;
                    border-radius: 4px;
                }

                h3 {
                    margin-top: 8px;
                    margin-bottom: 8px;
                }

                p {
                    text-align: left;
                }
            }
        }
    }
}