@use 'variaveis';

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 5.6vw 32px;
    border-top: 3px solid variaveis.$BordaDoBotao;
    text-align: center;

    img {
        max-width: 360px;
        margin: 56px 0;

        @media (max-width: 768px) {
            max-width: 240px;
        }
    }

    p {
        margin-bottom: 40px;
    }

    .social {
        display: flex;
        gap: 32px;

        img {
            width: 32px;
        }
    }
}