@use 'header';
@use 'hero';
@use 'variaveis';
@use 'trailer';
@use 'filmes';
@use 'ciclo';
@use 'onde-assistir';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: variaveis.$preto;
    overflow-x: hidden;
}

h2 {
    padding-bottom: 56px;
    text-align: center;
}

ul {
    list-style: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.button {
    background-color: variaveis.$corDoBotao;
    color: variaveis.$corDoTexto;
    border: 1px solid variaveis.$BordaDoBotao;
    width: 240px;
    height: 60px;
    font-size: 18px;
    font-family: "Space Mono", monospace;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;

    &:hover {
        background-color: variaveis.$preto;
        border: 1px solid variaveis.$verde;
    }
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corDoTexto;
}

.text {
    @include text;
}

.text--small {
    @include text(14px);
}

.text--big {
    @include text(20px);

    font-family: "Space Mono", monospace;
    font-weight: normal
}

.text--title {
    @include text(32px);

    font-family: "Space Mono", monospace;
    font-weight: normal;
}

hr {
    border-color: variaveis.$BordaDoBotao;
    margin-bottom: 24px;
}